asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cipher==0.1
constantly==15.1.0
crypto==1.4.1
cryptography==2.1.4
cssselect==1.0.1
EasyProcess==0.2.3
enum34==1.1.6
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
lxml==4.1.1
Naked==0.1.31
parsel==1.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pyOpenSSL==17.4.0
PyVirtualDisplay==0.2.1
PyYAML==3.12
queuelib==1.4.2
redis==2.10.6
requests==2.18.4
Scrapy==1.8.1
scrapy-redis==0.6.8
selenium==3.7.0
service-identity==17.0.0
shellescape==3.4.1
six==1.11.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
zope.interface==4.4.3
